@import "../../Variables.scss";

  .Checkout-form {
    background-color: white;
    width: 600px;
    margin-top: 40px;
    .Checkout-order-summary {
      display: flex;
      flex-direction: column;
      border-bottom: solid 1px rgb(211, 200, 200);
      padding-bottom: 40px;
      h5 {
        margin-top: 15px;
        margin-left: 20px;
        margin-bottom: 20px;
        font-weight: 100;
      }
      .Checkout-order-summary-detail {
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
        margin-left: 20px;
        margin-right: 20px;
        font-weight: 300;
        font-size: 18px;
      }
    }
    .Checkout-order-final {
      border-bottom: solid 1px rgb(211, 200, 200);
      .Checkout-order-summary-total {
        margin-right: 20px;
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
        margin-bottom: 50px;
        span {
          font-weight: 700;
        }
        p {
          margin-left: 20px;
          margin-right: 20px;
          margin-bottom: 20px;
          font-weight: 700;
        }
      }
      p {
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
        line-height: 20px;
        strong {
          font-weight: 700;
        }
      }
    }
    form {
      display: flex;
      flex-direction: column;
      margin: 20px;
      .Card-element {
        border: solid 1px rgb(224, 221, 221);
        padding: 10px;
        border-radius: 5px;
      }
      button {
        margin-top: 15px;
        background-color: #2dbb6a;
        border: none;
        color: white;
        height: 35px;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }
  .Checkout-error {
    p {
      margin-top: 50px;
      color: #666666;
    }
  }
  .Checkout-success {
    strong {
      color: rgb(48, 156, 48);
    }
    p {
      margin-top: 50px;
      color: #666666;
    }
  }