@import "../Variables.scss";

.Delete-modal {
  background-color: white;
  margin-top: 10%;
  padding: 20px;
  border-radius: 5px;
  position: fixed;
  color: rgb(148, 168, 148);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 80vw;
  .Delete-modal-buttons {
    display: flex;
    margin-top: 20px;
    button {
      background-color: $mainColor;
      border: solid 1px $mainColor;
      color: white;
      margin-right: 10px;
      height: 30px;
      width: 140px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      border-radius: 5px;
      cursor: pointer;
      &:hover {
        background-color: rgb(218, 218, 218);
        border: none;
      }
    }
  }
}
