@import "../../Variables.scss";

.Footer {
  border-top: 1px solid #ebedee;
  margin-bottom: 25px;
  > div p {
    margin-top: 25px;
    text-align: center;
    font-size: 14px;
    strong {
      font-weight: 700;
    }
  }
}
