@import "./Variables.scss";

// GENERAL
body {
  font-family: "Roboto", sans-serif;
  &::-webkit-scrollbar {
    display: none;
  }
}
.container {
  width: $windowsWidth;
  margin: 0 auto;
  @media (max-width: $windowsWidth) {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
}

// Error messages
.Error-message {
  text-align: center;
  margin-top: 100px;
  color: rgb(226, 121, 121);
}

.Login-error-message {
  color: rgb(216, 57, 57);
  text-align: center;
}

.Publish-error-message {
  color: rgb(216, 57, 57);
  text-align: center;
  margin-top: 10px;
}

.Is-loading {
  text-align: center;
  margin-top: 100px;
  color: rgb(148, 168, 148);
}
