/* Other rules */

$mainColor: #15aeb7;

body {
  font-family: "Roboto", sans-serif;
  .container {
    width: 1200px;
    margin: 0 auto;
  }

  // Header component

  .Header {
    display: flex;
    margin: 20px auto;
    align-items: center;
    justify-content: space-between;
    .Header-left {
      display: flex;
      flex: 1;
      .Header-logo {
        margin-right: 50px;
        img {
          height: 35px;
        }
      }
      .Header-search {
        background-color: #f5f6f7;
        height: 45px;
        flex: 1;
        display: flex;
        align-items: center;
        border-radius: 5px;
        margin-right: 40px;
        .Select-header {
          border-right: solid 1px #e3e4e5;
          display: flex;
          background-color: #f5f6f7;
          box-sizing: border-box;
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
          margin-right: 10px;
          height: 100%;
          select {
            border: none;
            background-color: transparent;
            cursor: pointer;
            margin: 0 10px;
            color: #babcbe;
          }
        }
        .Select-header:hover {
          background-color: #e7e9eb;
        }
        i {
          color: #babcbe;
          margin-right: 10px;
        }
        input {
          height: 100%;
          border: none;
          background-color: transparent;
        }
      }
    }
    .Header-right {
      display: flex;
      align-items: center;
      a {
        height: 35px;
        padding: 0 7px;
        border-radius: 5px;
        text-decoration: none;
        display: flex;
        align-items: center;
      }
      .Button-signup-login {
        background-color: white;
        border: solid 1px $mainColor;
        color: $mainColor;
        margin-right: 10px;
      }
      .Button-sell {
        background-color: $mainColor;
        border: solid 1px $mainColor;
        color: white;
        margin-right: 10px;
      }
      i {
        color: $mainColor;
        margin-right: 10px;
        padding: 4px 8px;
        border-radius: 50%;
        border: solid 1px $mainColor;
      }
      select {
        border: none;
        background-color: white;
        cursor: pointer;
        color: #babcbe;
        width: 40px;
      }
    }
  }

  // Hero component

  .Hero-background {
    height: 500px;
    background-color: rgb(236, 229, 229);
    display: flex;
    flex-direction: column;
    justify-content: center;
    .Hero {
      .Hero-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: white;
        height: 250px;
        width: 350px;
        padding: 34px;
        box-sizing: border-box;
        border-radius: 5px;
      }
      h1 {
        font-size: 32px;
      }
      button {
        background-color: $mainColor;
        border: solid 1px $mainColor;
        color: white;
        height: 40px;
        font-size: 16px;
        border-radius: 5px;
        padding: 0 10px;
        margin-top: 40px;
      }
      .link {
        color: $mainColor;
        text-decoration: none;
        margin-top: 20px;
      }
      .link:hover {
        text-decoration: underline;
      }
    }
  }

  // Home content component

  .Home-content {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }

  .Home-offer {
    margin-right: 15px;
    margin-top: 24px;
    width: calc(20% - 12px);
    display: flex;
    flex-direction: column;
    .Home-offer-user {
      display: flex;
      align-items: center;
      margin-bottom: 5px;
      img {
        height: 30px;
        border-radius: 50%;
      }
      p {
        color: #999999;
        margin-left: 10px;
        font-size: 12px;
        font-weight: 100;
      }
    }
    .Home-offer-picture {
      height: 355px;
      width: 100%;
      margin-bottom: 10px;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    .Home-offer-info {
      display: flex;
      justify-content: space-between;
      .Home-offer-info-left {
        p {
          color: #999999;
          font-size: 14px;
          font-weight: 100;
          line-height: 18px;
        }
        span {
          font-weight: 400;
          color: black;
          font-size: 16px;
        }
      }
      .Home-offer-info-right {
        .Icon-heart {
          color: $mainColor;
        }
      }
    }
  }

  .Home-offer:nth-child(5n) {
    margin-right: 0px;
  }

  // PAGE OFFER
  .Offer-background {
    background-color: #ebedee;
    height: 100vh;
  }
  .Offer {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    .Offer-product_image {
      height: 600px;
      width: 500px;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    .Offer-product_info {
      background-color: white;
      height: 600px;
      width: 400px;
      .Offer-product_details {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
